{{!-- Last build info
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<div style="display:none;">Last build: {{buildTime}}</div>

  {{!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<script type="text/javascript" src="/js/all.min.js"></script>


{{!-- Window model
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<script>
		window.model = {
			context: {{{toJson .}}}
		};
	</script>
