<!DOCTYPE html>
<html lang="fr">
	{{!-- Head section
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	{{> architecture/head}}
	<body>
		{{!-- Page content
		–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
		{{> @partial-block }}

		{{!-- Scripts or foot elemnts
		–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
		{{> architecture/foot }}

	</body>
</html>
